apiVersion: v1
kind: Service
metadata:
  name: {{ HeadlessName }}
  namespace: {{ Namespace }}
  labels:
    spp-app: spp-{{ AppName }}
spec:
  clusterIP: None
  selector:
    spp-app: spp-{{ AppName }}
  ports:
  - name: port01
    port: 8088
  - name: port02
    port: 9088
