kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ ConfigMapName }}
  namespace: {{ Namespace }}
data:
  rqmWithRMQM.conf: |
    {
            "version" : "{{ Version }}",
            "configType" : "rqmWithRMQM",   // required
            "jmxPort" : 8100,
            "serverId" : "{{ ServerId }}",
            "farmSetSize" : 1,
            "zkClientConfig" : {
                    "useConfig" : false,
                    "serverUrl" : "{{ ZkServerUrl }}"
            },

            "healthCheckConfig" : {
                    "protocol" : "tcp",
                    "port" : 9088
            },

            "httpServerConfig" : {
                    "readTimeout" : 150,
                    "workerCount" : 50
            },

            "queueManagerConfig" : {
                    "regidQuotaCnt" : 99,
                    "broadcastFailOverMessageSend" : false
            },

            "pushRequestManagerConfig" : {
                    "apiAuthInfo" : {
                            "3F9D39CED64F63EA" : "g9GlwWTwk+VcO810Ya6cvYA9H9+V7DltdVYeAJfvBYM="
                    }
            },

            "registryManagerConfig" : {
                    "validateDeviceToken" : true
            },

            "repositoryConfig" : {
                    "monitorRepository" : true,
                    "useRedisCluster" : true,
                    "cassandraRegionClusterConfig" : {
                            "clusterName" : "SPP",
                            "hostConfigurator" : {
                                    "hosts" : "{{ RegionCarHosts }}",
                                    "port" : "{{ RegionCarPorts }}",
                                    "maxActive" : 10,
                                    "maxWaitTimeWhenExhausted" : "100",
                                    "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                    "autoDiscoverHosts" : "true",
                                    "autoDiscoveryDelayInSeconds" : "600",
                                    "retryDownedHosts" : "true",
                                    "retryDownedHostsQueueSize" : "",
                                    "retryDownedHostsDelayInSeconds" : "300",
                                    "lifo" : ""
                            }
                    },
                    "cassandraFarmClusterConfig" : [
                            {
                                    "clusterName" : "10",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "11",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "12",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "13",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "14",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "15",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "16",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "17",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "18",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                },
                            {
                                    "clusterName" : "19",
                                    "hostConfigurator" : {
                                            "hosts" : "{{ RegionCamHosts }}",
                                            "port" : "{{ RegionCamPorts }}",
                                            "maxActive" : 10,
                                            "maxWaitTimeWhenExhausted" : "100",
                                            "exhaustedPolicy" : "WHEN_EXHAUSTED_FAIL",
                                            "autoDiscoverHosts" : "true",
                                            "autoDiscoveryDelayInSeconds" : "600",
                                            "retryDownedHosts" : "true",
                                            "retryDownedHostsQueueSize" : "",
                                            "retryDownedHostsDelayInSeconds" : "300",
                                            "lifo" : ""
                                    }
                                                }
                    ],
                    "redisClusterConfig" : [
                            {
                                    "clusterName" : "10",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_10",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "11",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_11",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "12",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_12",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "13",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_13",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "14",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_14",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "15",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_15",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "16",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_16",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "17",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_17",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "18",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_18",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            },
                            {
                                    "clusterName" : "19",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                                                },
                            {
                                    "clusterName" : "StoredKey_19",
                                    "host" : "{{ RedisHost }}",
                                    "port" : 8379,
                                    "redisDBNumber" : 1,
                                    "connectionTimeout" : 10000,
                                    "soTimeout" : 2000,
                                    "hostConfigurator" : {
                                            "minIdle" : 3,
                                            "maxIdle" : 10,
                                            "maxTotal" : 10,
                                            "maxWaitMillis" : 1000,
                                            "timeBetweenEvictionRunsMillis" : 300000,
                                            "minEvictableIdleTimeMillis" : 300000
                                    }
                            }
                    ],
                    "consistencyLevel" : [
                            {
                                    "keyspaceName" : "Registration",
                                    "columnFamilyName" : "",
                                    "consistencyLevel" : {
                                            "READ" : "{{ ConsistencyLevel }}",
                                            "WRITE" : "{{ ConsistencyLevel }}"
                                    }
                            },
                            {
                                    "keyspaceName" : "Notification",
                                    "columnFamilyName" : "",
                                    "consistencyLevel" : {
                                            "READ" : "{{ ConsistencyLevel }}",
                                            "WRITE" : "{{ ConsistencyLevel }}"
                                    }
                            },
                            {
                                    "keyspaceName" : "Broadcast",
                                    "columnFamilyName" : "",
                                    "consistencyLevel" : {
                                            "READ" : "{{ ConsistencyLevel }}",
                                            "WRITE" : "{{ ConsistencyLevel }}"
                                    }
                            }
                    ]
            }
    }
